# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
ENV/
env/
.venv/

# Django-related
*.log
local_settings.py
db.sqlite3
/static/
media/

# Environment variables
.env
*.env

# IDEs and editors
.idea/
.vscode/

# macOS Finder
.DS_Store

# Windows
Thumbs.db
